.game {
  width: 100%;
  display: flex;
  justify-content: center;

  &__fullscreen-btn {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 1;
  }

  &__game-container {
    position: relative;
  }

  &__ref-image {
    display: none;
  }

  &__canvas {
    border: 1px solid black;
  }
}
