.game {
  width: 100%;
  display: flex;
  justify-content: center;

  &__game-container {
    position: relative;
  }

  &__ref-image {
    display: none;
  }

  &__start-stop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__canvas {
    border: 1px solid black;
  }
}
