.layout {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  &__sidebar {
    padding: 64px 24px 24px;
    background: var(--ant-primary-7);

    &-menu {
      margin-bottom: 24px;
      background: transparent;
      border: none;

      .ant-menu-item {
        background: var(--ant-primary-color);

        a {
          color: var(--ant-primary-1);
        }

        &:hover {
          background: var(--ant-primary-color-hover);
        }
      }
    }

    .ant-layout-sider-children {
      display: flex;
      flex-flow: column;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    line-height: 1;
    background: var(--ant-primary-7);

    padding: 13px 24px 13px 0;
  }

  &__theme-picker {
  }

  &__user {
    display: flex;
    align-items: center;
    border: 1px dashed var(--ant-primary-color);
    background-color: var(--ant-primary-color-outline);

    &-avatar {
      border-right: 1px dashed var(--ant-primary-color);
    }

    &-login {
      color: #ffffff;
      padding: 12px 24px;
      font-weight: 600;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: column;
    row-gap: 16px;
    margin: auto 0 0;
  }

  &__main {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 24px;
    background-color: var(--ant-primary-color-outline);
  }
}
