.layout {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  &__sidebar {
    padding: 48px 24px;

    &-menu {
      margin-bottom: 24px;
    }
  }

  &__start-game-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 24px 48px;
    width: 100%;
    background: gray;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__main {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 24px;
  }
}
