.sign-in {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in__form {
  padding: 50px 40px 40px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  max-width: 340px;
}

.sign-in__form-item {
  margin: 0;
}

.sign-in__form-item + .sign-in__form-item {
  margin-top: 24px;
}