.comment {
  &__button-reply {
    border: none;
    padding: 3px;
    background-color: transparent;
    margin-left: 8px;
    &:hover {
      cursor: pointer;
      color: #000;
      transition: color .4s ease-out;
    }
  }
  
  &__sub-comments {
    margin-left: 44px;
    padding: 0 0 0 30px;
    border-left: 2px solid #ccc;
  }
}
