.sign-up {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/auth-background.jpg) center/cover;

  &__form {
    padding: 48px 40px 40px;
    border-radius: 12px;
    background: #ffffff;
    max-width: 340px;
    flex-grow: 1;
  }

  &__form-title {
    font-size: 20px;
    margin-top: 0;
    text-align: center;
  }

  &__form-item {
    margin: 0;
  }

  &__form-item + &__form-item {
    margin-top: 24px;
  }

  &__form-alert {
    margin: 15px 0 15px;
  }
}
